/** @format */

@font-face {
  font-family: "Jaapokki";
  src: url("fonts/Jaapokki-Regular.eot");
  src: url("fonts/Jaapokki-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Jaapokki-Regular.woff2") format("woff2"),
    url("fonts/Jaapokki-Regular.woff") format("woff"),
    url("fonts/Jaapokki-Regular.ttf") format("truetype"),
    url("fonts/Jaapokki-Regular.svg#Jaapokki-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("fonts/GlacialIndifference-Bold.eot");
  src: url("fonts/GlacialIndifference-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GlacialIndifference-Bold.woff2") format("woff2"),
    url("fonts/GlacialIndifference-Bold.woff") format("woff"),
    url("fonts/GlacialIndifference-Bold.ttf") format("truetype"),
    url("fonts/GlacialIndifference-Bold.svg#GlacialIndifference-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-ExtraBold.eot");
  src: url("fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("fonts/Poppins-ExtraBold.woff") format("woff"),
    url("fonts/Poppins-ExtraBold.ttf") format("truetype"),
    url("fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli.eot");
  src: url("fonts/Muli.eot?#iefix") format("embedded-opentype"),
    url("fonts/Muli.woff2") format("woff2"), url("Muli.woff") format("woff"),
    url("fonts/Muli.ttf") format("truetype"), url("Muli.svg#Muli") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Light.eot");
  src: url("fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Roboto-Light.woff2") format("woff2"),
    url("fonts/Roboto-Light.woff") format("woff"),
    url("fonts/Roboto-Light.ttf") format("truetype"),
    url("fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli-Regular.eot");
  src: url("fonts/Muli-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Muli-Regular.woff2") format("woff2"),
    url("fonts/Muli-Regular.woff") format("woff"),
    url("fonts/Muli-Regular.ttf") format("truetype"),
    url("fonts/Muli-Regular.svg#Muli-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: url("fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat-Bold.ttf") format("truetype"),
    url("fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli-Light.eot");
  src: url("fonts/Muli-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Muli-Light.woff2") format("woff2"),
    url("fonts/Muli-Light.woff") format("woff"),
    url("fonts/Muli-Light.ttf") format("truetype"),
    url("fonts/Muli-Light.svg#Muli-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.eot");
  src: url("fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/Montserrat-Regular.woff") format("woff"),
    url("fonts/Montserrat-Regular.ttf") format("truetype"),
    url("fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("fonts/GlacialIndifference-Regular.eot");
  src: url("fonts/GlacialIndifference-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GlacialIndifference-Regular.woff2") format("woff2"),
    url("fonts/GlacialIndifference-Regular.woff") format("woff"),
    url("fonts/GlacialIndifference-Regular.ttf") format("truetype"),
    url("fonts/GlacialIndifference-Regular.svg#GlacialIndifference-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-SemiBold.eot");
  src: url("fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("fonts/Poppins-SemiBold.woff") format("woff"),
    url("fonts/Poppins-SemiBold.ttf") format("truetype"),
    url("fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.eot");
  src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff"),
    url("fonts/Roboto-Regular.ttf") format("truetype"),
    url("fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  border: none;
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap;
}

.slideshow {
  width: 100%px;
  height: 960px;
  position: relative;
}
.slide {
  display: none;
  width: 100%;
  height: 100%;
}
.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 48px;
  left: 52px;
}

.company-name {
  font-family: Poppins;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 1.2px;
  color: #1a1a1a;
}

.logo-name-box {
  display: flex;
  align-items: baseline;
}

.name-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0081ff;
}

.resume-name {
  font-family: Montserrat;
  font-size: 13px;
  color: #b3b3b3;
}

.number-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 221px;
  top: 25px;
  right: 81.68px;
}

.number {
  position: relative;
  display: flex;
  align-items: center;
}

.number-one {
  font-family: Poppins;
  font-size: 158.3px;
  letter-spacing: 4.75px;
  position: relative;
  display: flex;
  align-items: center;
  color: #1c1c1c;
}

.about {
  font-family: Poppins;
  font-size: 43.17px;
  letter-spacing: 1.3px;
  width: 227px;
  color: #373737;
  position: absolute;
}

.id-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 385px;
  right: 308px;
}

.id-social-box {
  display: flex;
  gap: 13px;
  margin-left: 7px;
  align-items: center;
}

.id-text {
  font-family: GlacialIndifference;
  font-size: 49.7px;
  letter-spacing: 0.75px;
  margin-bottom: 10px;
}

.id-name {
  font-family: GlacialIndifference;
  font-size: 71px;
  letter-spacing: 1.05px;
  font-weight: 400;
  margin-bottom: 7px;
}

.id-work {
  font-family: GlacialIndifference;
  font-size: 23px;
  margin-bottom: 45px;
}

.message-text {
  font-family: Montserrat;
  font-size: 24px;
  margin-bottom: 10px;
}

#progress-bar-container {
  width: 340px;
  height: 6px;
  background-color: lightgray;
  position: relative;
  border-radius: 25px;
}

#progress-bar {
  height: 100%;
  background-color: #e93656;
  transition: width 2s ease;
  border-radius: 25px;
}

.message-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 47px;
  right: 90px;
}

.about-creator {
  width: 100%;
  height: 913px;
  margin-top: 135px;
  position: relative;
  display: flex;
  justify-content: center;
}

.about-author {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 334px;
  height: 603px;
}

h3 {
  font-family: Glacial Indifference;
  font-size: 40px;
  font-weight: 500;
  text-align: right;
  width: 100%;
  margin-top: 83px;
}

.yellow-span {
  font-family: Muli;
  font-size: 14px;
  color: #daae19;
  margin-top: 6px;
}

.biography {
  width: 334px;
}

p {
  font-family: Muli;
  font-size: 15px;
  letter-spacing: 0.15px;
  text-align: right;
  margin-top: 33px;
}

.hire {
  width: 152px;
  height: 50px;
  color: #ffffff;
  background-color: #e93656;
  font-family: Glacial Indifference;
  font-size: 15px;
  margin-top: 73px;
  cursor: pointer;
  transition: all 0.3s;
  transition-delay: 0.2s;
}

.hire:hover {
  opacity: 0.8;
}

.profile-photo {
  width: 430px;
  height: 603px;
  background-color: #373737;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-skills {
  width: 300px;
  height: 603px;
  padding-top: 59px;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 23px;
}

.skills-level {
  height: 9px;
  background-color: #e93656;
  width: 0;
  transition: width 2s;
  opacity: 0;
}

.skill-name {
  font-family: Glacial Indifference;
  font-size: 20px;
}

.profile-selector {
  display: flex;
  gap: 5px;
}

.selector-button {
  width: 50px;
  height: 50px;
  background-color: #f9f9f9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  transition-delay: 0.2s;
}

.selector-button:hover {
  background-color: #15263e;
}

.option-button {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #15263e;
  transition: all 0.3s;
  transition-delay: 0.2s;
}

.option-button {
  background-color: #f9f9f9;
}

.contact-box {
  width: 100%;
  height: 210px;
  position: absolute;
  bottom: 0;
  background-color: #131a36;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

.contact {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 29px;
}

.contact-logo-box {
  width: 90px;
  height: 90px;
}

.contact-logo {
  width: 86px;
  height: 86px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  transition-delay: 0.2s;
}

.contact-logo:hover {
  background-color: #e93656;
  border: hidden;
}

.contact-details {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.contact-type {
  font-family: Glacial Indifference;
  font-size: 25px;
  letter-spacing: 0.75;
  color: #dfdfdf;
  margin-bottom: 15px;
}

.number {
  font-family: Muli;
  font-size: 14px;
  letter-spacing: 0.42px;
  color: #dfdfdf;
  margin-bottom: 5px;
}

.services {
  width: 100%;
  padding-top: 203px;
  padding-bottom: 160px;
  display: flex;
  justify-content: center;
}

.servicce-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 360px 360px;
  gap: 10px;
}

.service-card {
  width: 285px;
  height: 360px;
  cursor: pointer;
  background-color: #fafafa;
  transition: all 0.3s;
  transition-delay: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card:hover .service-name-box {
  display: none;
}

.service-card:hover .service-hover {
  display: flex;
  visibility: visible;
}

.service-card:hover {
  background-color: #15263e;
}

.service-name-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: all 0.3s;
  transition-delay: 0.1s;
}

.service-name {
  font-family: Glacial Indifference;
  font-size: 22px;
  letter-spacing: 0.44px;
  color: #222222;
}

.service-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  transition: all 0.4s;
  transition-delay: 0.2s;
  display: none;
}

.service-name-hover {
  font-family: Glacial Indifference;
  font-size: 22px;
  letter-spacing: 0.44px;
  color: #ffffff;
}

.service-hover-text {
  text-align: center;
  width: 222px;
  height: 70px;
  font-family: Muli;
  font-size: 14px;
  letter-spacing: 0.42px;
  color: #ececec;
}

.recomendation {
  width: 100%;
  height: 570px;
  background-image: url(images/clip.jpg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-recomendations {
  display: flex;
  align-items: center;
  gap: 130px;
}

#cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.recomendator {
  display: flex;
  align-items: center;
  gap: 50px;
}

#cardMessage {
  width: 497px;
  height: 78px;
  text-align: right;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0.45px;
  color: #ffffff;
}

.recomendator-photo-box {
  width: 170px;
  height: 170px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardImage {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.recomendator-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recomendator-info {
  display: flex;
  flex-direction: column;
}

.recomendator-name {
  font-family: Glacial Indifference;
  font-size: 28px;
  letter-spacing: 0.84px;
  color: #ffffff;
  width: 200px;
}

.recomendator-proffesion {
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0.52px;
  margin-bottom: 9px;
  color: #e93656;
  width: 200px;
}

.quote-box {
  width: 200px;
  margin-bottom: 38px;
}
