/** @format */

@font-face {
  font-family: "Jaapokki";
  src: url("fonts/Jaapokki-Regular.eot");
  src: url("fonts/Jaapokki-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Jaapokki-Regular.woff2") format("woff2"),
    url("fonts/Jaapokki-Regular.woff") format("woff"),
    url("fonts/Jaapokki-Regular.ttf") format("truetype"),
    url("fonts/Jaapokki-Regular.svg#Jaapokki-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("fonts/GlacialIndifference-Bold.eot");
  src: url("fonts/GlacialIndifference-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GlacialIndifference-Bold.woff2") format("woff2"),
    url("fonts/GlacialIndifference-Bold.woff") format("woff"),
    url("fonts/GlacialIndifference-Bold.ttf") format("truetype"),
    url("fonts/GlacialIndifference-Bold.svg#GlacialIndifference-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-ExtraBold.eot");
  src: url("fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("fonts/Poppins-ExtraBold.woff") format("woff"),
    url("fonts/Poppins-ExtraBold.ttf") format("truetype"),
    url("fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli.eot");
  src: url("fonts/Muli.eot?#iefix") format("embedded-opentype"),
    url("fonts/Muli.woff2") format("woff2"), url("Muli.woff") format("woff"),
    url("fonts/Muli.ttf") format("truetype"), url("Muli.svg#Muli") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Light.eot");
  src: url("fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Roboto-Light.woff2") format("woff2"),
    url("fonts/Roboto-Light.woff") format("woff"),
    url("fonts/Roboto-Light.ttf") format("truetype"),
    url("fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli-Regular.eot");
  src: url("fonts/Muli-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Muli-Regular.woff2") format("woff2"),
    url("fonts/Muli-Regular.woff") format("woff"),
    url("fonts/Muli-Regular.ttf") format("truetype"),
    url("fonts/Muli-Regular.svg#Muli-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: url("fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat-Bold.ttf") format("truetype"),
    url("fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli-Light.eot");
  src: url("fonts/Muli-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Muli-Light.woff2") format("woff2"),
    url("fonts/Muli-Light.woff") format("woff"),
    url("fonts/Muli-Light.ttf") format("truetype"),
    url("fonts/Muli-Light.svg#Muli-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.eot");
  src: url("fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/Montserrat-Regular.woff") format("woff"),
    url("fonts/Montserrat-Regular.ttf") format("truetype"),
    url("fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("fonts/GlacialIndifference-Regular.eot");
  src: url("fonts/GlacialIndifference-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GlacialIndifference-Regular.woff2") format("woff2"),
    url("fonts/GlacialIndifference-Regular.woff") format("woff"),
    url("fonts/GlacialIndifference-Regular.ttf") format("truetype"),
    url("fonts/GlacialIndifference-Regular.svg#GlacialIndifference-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-SemiBold.eot");
  src: url("fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("fonts/Poppins-SemiBold.woff") format("woff"),
    url("fonts/Poppins-SemiBold.ttf") format("truetype"),
    url("fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.eot");
  src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff"),
    url("fonts/Roboto-Regular.ttf") format("truetype"),
    url("fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  border: none;
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
}

.slideshow {
  width: 100%px;
  height: 960px;
  position: relative;
}
.slide {
  display: none;
  width: 100%;
  height: 100%;
}
.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 48px;
  left: 52px;
}

.company-name {
  font-family: Poppins;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 1.2px;
  color: #1a1a1a;
}

.logo-name-box {
  display: flex;
  align-items: baseline;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0081ff;
}

.resume-name {
  font-family: Montserrat;
  font-size: 13px;
  color: #b3b3b3;
}

.number-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 221px;
  top: 25px;
  right: 81.68px;
}

.number {
  position: relative;
  display: flex;
  align-items: center;
}

.number-one {
  font-family: Poppins;
  font-size: 158.3px;
  letter-spacing: 4.75px;
  position: relative;
  display: flex;
  align-items: center;
}

.about {
  font-family: Poppins;
  font-size: 43.17px;
  letter-spacing: 1.3px;
  width: 227px;
  color: #373737;
  position: absolute;
}

.id-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 385px;
  right: 308px;
}

.id-social-box {
  display: flex;
  gap: 13px;
  margin-left: 7px;
  align-items: center;
}

.id-text {
  font-family: GlacialIndifference;
  font-size: 49.7px;
  letter-spacing: 0.75px;
  margin-bottom: 10px;
}

.id-name {
  font-family: GlacialIndifference;
  font-size: 71px;
  letter-spacing: 1.05px;
  font-weight: 400;
  margin-bottom: 7px;
}

.id-work {
  font-family: GlacialIndifference;
  font-size: 23px;
  margin-bottom: 45px;
}

.message-text {
  font-family: Montserrat;
  font-size: 24px;
}

.bar {
  width: 340px;
  height: 6px;
  color: #e93656;

  z-index: 10;
}

.message-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 47px;
  right: 90px;
}
